@model IEnumerable<Crud.Models.Profile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
<div class="container">
    <div class="row">
        <h1 class="text-center">Hot Dog Lover</h1>
        <div class="col-sm-8 col-sm-offset-2">
            <div class="col-sm-4">
                <h1>This is the image</h1> @Html.ActionLink("Edit", "Edit", new { id = 1 })
            </div>
            <div class="col-sm-8">
                <h1>@Html.DisplayNameFor(model => model.Name)</h1>
                <p>@Html.DisplayNameFor(model => model.Bio)</p>
                <h3>Past Dogs:</h3>
                <table>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                                @Html.DisplayFor(modelItem => item.Bio)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }

            </table>
            </div>
        </div>
    </div>
</div>
-->
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Favorite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Favorite)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
